/*
colors:
#C20114
#C7D6D5
#4F6367
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 2rem;
  font-family: Roboto, sans-serif;
  background-color: #4f6367;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: #17252d;
  padding: 3rem;
  border-radius: 1rem;
}
.feedback {
  background-color: #c20114;
  color: #ffffff;
  font-size: 3rem;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
  animation: feedbackAnimate 0.5s ease-out;
  font-family: "Baloo Paaji 2", cursive;
  display: none;
}
@keyframes feedbackAnimate {
  0% {
    transform: translateX(-0.5rem);
    opacity: 0;
  }
  25% {
    transform: translateX(0.5rem);
  }
  50% {
    transform: translateX(-0.5rem);
  }
  75% {
    transform: translateX(0.5rem);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.show {
  display: block;
}
.label,
.msg {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
#input {
  display: block;
  width: 80%;
  margin: auto;
  padding: 1rem 0.5rem;
  border-radius: 1rem;
  outline: none;
  transition: all 3s;
  border-width: 0%;
  margin-bottom: 1rem;
}
.btn {
  padding: 0.5rem;
  border-radius: 1rem;
  border: none;
  outline: none;
  transition: all 0.3s;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.btn:hover {
  transform: translateY(-0.3rem);
  cursor: pointer;
}
.btn:active {
  transform: translateY(-0.1rem);
}
.msg {
  font-size: 2rem;
}
#msgValue {
  color: #c20114;
  font-size: 2.5rem;
}
@media screen and (max-width: 800px) {
  html {
    font-size: 52.5%;
  }
}
@media screen and (max-width: 600px) {
  html {
    font-size: 42.5%;
  }
}
